## Ames Iowa Hosing Dataset Data Visulization
### Author: Yin Deascentis
Use data visulization to explore the dataset and see the pattern of data and each features.

In [4]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as st
%matplotlib inline
%pylab inline

import warnings
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

In [7]:
# Check to see if the file path contain the dataset.
from subprocess import check_output
print(check_output(["ls", "./House Prices Dataset"]).decode("utf8"))

test.csv
train.csv

In [16]:
# Load the datasets(train and test)
# use pandas to read the file name as string
df_train = pd.read_csv('./House Prices Dataset/train.csv') 
df_test = pd.read_csv('./House Prices Dataset/test.csv')

In [17]:
#see what we have in the training dataset
print("df_train contain: \n")
df_train.head(5)

df_train contain:

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [18]:
#see what we have in the test dataset
print("df_test contain: \n")
df_test.head(5)

df_test contain:

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

as we can tell from training and test data set that the test dataset does not have the SalePrice data

In [20]:
# identify the target variable of the training dataset -- SalePrice
salePrice = df_train['SalePrice']
# take out the target variable from df_train dataset and rename is as train
train = df_train.drop('SalePrice', 1)

#combined two datasets and named it as data, data without 'SalePrice'
data = pd.concat([train,df_test],ignore_index=True) 

# Drop the "Id" column
ids = df_test["Id"]
data=data.drop("Id", 1)
print ('Ames Iowa housing train dataset has {} data points with {} variables each.'.format(*train.shape))
print ('Ames Iowa housing test dataset has {} data points with {} variables each.'.format(*df_test.shape))
print ('Ames Iowa housing Total dataset has {} data points with {} variables each.'.format(*data.shape))

Ames Iowa housing train dataset has 1460 data points with 80 variables each.
Ames Iowa housing test dataset has 1459 data points with 80 variables each.
Ames Iowa housing Total dataset has 2919 data points with 79 variables each.